
.page {
    width: 1020px;
    height: 700px;
    margin: 0 auto;
    background-color: #ccc;
}
.header, .article1, .article2 {
    background-color: #88d8fd;
}
.header {
	width: 940px;
    margin: 0px 40px;
}
.nav {
    float: left;
    width: 60px;
    height: 63px;
    margin: 0px 20px 10px 0px;
    background-color: #e04e5a;
}
.nav:last-child {
    float: right;
    margin: 0px 0px 10px;s
}
.article1 {
	width: 940px;
    height: 213px;
    margin: 10px 40px 0px;
}
.content1 {
    float: left;
    width: 140px;
    height: 103px;
    margin: 55px 20px 55px 0px;
    background-color: #e04e5a;
}
.content1:last-child {
    margin: 55px 0px;
}
.article2 {
	position: relative;
	width: 940px;
    height: 265px;
    margin: 10px 40px;
}
.article2-1 {
	position: absolute;
	width: 920px;
  	top: 10px;
  	right: 10px;
    background-color: #e04e5a;
}
.content2 {
	float: left;
    width: 138px;
    height: 103px;
    margin: 10px;
    background-color: #4ee077;
}
.content2-6 {
	float: right;
    width: 118px;
    height: 227px;
    margin: 10px 10px 10px 0px;
    background-color: #e0cd4e;
}
.footer {
	width: 940px;
    height: 23px;
    margin: 106px 40px 0px;
    background-color: #8f4ee0;
}
.aside {
    position: fixed; 
    top: 230px;
    left: 0px;
    width: 17px;
    height: 166px;
    background-color: #8f4ee0;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}